.p-drawer {
  align-content: start;
  background-color: var(--color-canvas-bg);
  block-size: 100%;
  inline-size: 100%;
  margin-block: 0;
  margin-inline: 10% 0;
  overflow: hidden;
  padding-block: 2.5rem;
  padding-inline: 4% calc(10% + 4%);
  transition-behavior: allow-discrete;
  transition-duration: 0.6s;
  transition-property: display, translate;
  transition-timing-function: var(--ease-out-elastic);
  translate: 100%;
  row-gap: 2.5rem;
  z-index: calc(infinity);

  &::backdrop {
    opacity: 0;
    transition-duration: 0.6s;
    transition-property: opacity;
  }
}

.p-drawer[open] {
  display: grid;
  translate: 0;

  @starting-style {
    translate: 100%;
  }

  &::backdrop {
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }
}
