:root {
  /* Theme */
  --theme-bg: var(--olive);
  --theme-fg: var(--gray-950);

  /* Background */
  --color-base-bg: light-dark(var(--gray-50), var(--olive-950));
  
  /* Text */
  --color-text: light-dark(var(--gray-950), var(--gray-50));
  --color-text-light: light-dark(var(--gray-600), var(--gray-400));

  /* Shadow */
  --color-shadow: light-dark(oklch(from var(--gray-950) l c h / 10%), oklch(from var(--gray-50) l c h / 10%));

  /* Error */
  --color-error: light-dark(var(--red-700), var(--red-500));

  /* Link */
  --color-link: light-dark(var(--blue-600), var(--blue-400)));
  --color-link-hover: light-dark(var(--blue-500), var(--blue-500)));
  --color-link-active: light-dark(var(--blue-400), var(--blue-600));
  --color-link-visited: light-dark(var(--purple-700), var(--purple-400));
  --color-link-visited-hover: light-dark(var(--purple-800), var(--purple-300));
  --color-link-visited-active: light-dark(var(--purple-900), var(--purple-200));

  color-scheme: light dark;
}
