.u-hidden-sm {
  @container style(--screen-width: sm) {
    display: none !important;
  }
}

.u-hidden-md {
  @container style(--screen-width: md) {
    display: none !important;
  }
}

.u-hidden-lg {
  @container style(--screen-width: lg) {
    display: none !important;
  }
}

.u-visually-hidden {
  block-size: 1px !important;
  border: 0 !important;
  clip-path: inset(50%) !important;
  inline-size: 1px !important;
  margin: 0 !important;
  opacity: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  pointer-events: none !important;
  position: absolute !important;
  visibility: visible !important;
  white-space: nowrap !important;
}
