@keyframes slide-in-from-left {
  from { translate: -100%; }
}

@keyframes slide-in-from-right {
  from { translate: 100%; }
}

@keyframes slide-out-to-left {
  to { translate: -100%; }
}

@keyframes slide-out-to-right {
  to { translate: 100%; }
}

@keyframes slide-in-from-bottom {
  from { translate: 0 100%; }
}

@keyframes slide-in-from-top {
  from { translate: 0 -100%; }
}

@keyframes slide-out-to-bottom {
  to { translate: 0 100%; }
}

@keyframes slide-out-to-top {
  to { translate: 0 -100%; }
}
