<!DOCTYPE html>
<html lang="{{ site.Language.Locale }}" dir="{{ or site.Language.Direction `ltr` }}" class="no-js">
<head prefix="og: https://ogp.me/ns#">
  {{ partial "head.html" . }}
  <script>
    document.documentElement.classList.replace("no-js", "js");
  </script>
</head>
<body>
  <noscript>
    <p>JavaScriptが無効になっています。一部機能が利用できません。</p>
  </noscript>
  <nav class="p-skip-link" aria-label="スキップリンク">
    <a href="#main">メインコンテンツへスキップ</a>
  </nav>
  <header id="js-global-header" class="l-header" aria-label="サイトヘッダー">
    {{ partial "header.html" . }}
  </header>
  <div class="l-wrapper">
    {{ block "beforeMain" . }}{{ end }}
    <div class="l-container">
      <main id="main" class="l-main" role="main">
        {{ block "main" . }}{{ end }}
      </main>

      {{ $sidebar := site.Params.sidebar }}
      {{ if $sidebar.enabled }}
        <aside class="l-sidebar" aria-label="サイドバー">
          {{- block "aside" . -}}
            {{- $page := . -}}
            {{- $widgets := default (slice) site.Params.sidebar.widgets -}}

            {{- with $widgets -}}
              {{- partial "sidebar.html" (dict "page" $page "widgets" .) -}}
            {{- end -}}
          {{- end -}}
        </aside>
      {{ end }}
    </div>
    {{ block "afterMain" . }}{{ end }}
  </div>
  <footer class="l-footer" aria-label="サイトフッター">
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
