{{ define "beforeMain" }}
  {{ partial "breadcrumb.html" . }}
{{ end }}

{{ define "main" }}
  <article class="p-page">
    <header class="p-page__header">
      <h1 class="p-page__title">{{ .Title }}</h1>
      <div class="p-page__info">
        {{ partial "terms.html" (dict "taxonomy" "categories" "page" .) }}
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .Date | time.Format ":date_long" }}
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      </div>
    </header>

    {{- with .Resources.GetMatch .Params.eyecatch -}}
      <figure class="p-page__eyecatch">
        <img src="{{ .RelPermalink }}" alt="">
      </figure>
    {{- end -}}

    <div class="p-page__content">
      {{ .Content }}
    </div>

    <footer class="p-page__footer">
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </footer>
  </article>
{{ end }}
