{{ define "main" }}
  <div class="p-page">
    <header class="p-page__header">
      <h1 class="p-page__title">{{ .Title }}</h1>
    </header>

    <div class="p-page__content">
      {{ .Content }}

      <div class="p-card__wrapper">
        {{- $number := 0 -}}

        {{ range .Pages }}
          {{- $article := . -}}
          {{- $image := false -}}
          {{- $number = add $number 1 -}}

          {{- with $article.Params.thumbnail -}}
            {{- with $article.Resources.Get . -}}
              {{- $image = . -}}
            {{- end -}}
          {{- end -}}

          {{- if not $image -}}
            {{- with $article.Params.eyecatch -}}
              {{- with $article.Resources.Get . -}}
                {{- $image = . -}}
              {{- end -}}
            {{- end -}}
          {{- end -}}

          <article class="p-card" aria-labelledby="card{{ $number }}">
            <h2 id="card{{ $number }}" class="p-card__title">
              <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </h2>

            {{- with $image -}}
              <figure class="p-card__thumbnail">
                <img
                  src="{{ .RelPermalink }}"
                  alt=""
                >
              </figure>
            {{- else -}}
              <span class="p-card__thumbnail" aria-hidden="true"></span>
            {{- end -}}

            <div class="p-card__inner">
              {{ .Summary }}
            </div>

            <p class="p-card__publish">
              {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
              {{ $dateHuman := .Date | time.Format ":date_long" }}
              <span class="u-visually-hidden">投稿日：</span>
              <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
            </p>
          </article>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
