:root {
  /* ========================================
   * オリーブ
   * ======================================== */
  --olive: oklch(78.49% 0.184 126.64);
  --olive-50: oklch(97% 0.079 126.64);
  --olive-100: oklch(93.44% 0.184 126.64);
  --olive-200: oklch(88.24% 0.184 126.64);
  --olive-300: oklch(82.16% 0.184 126.64);
  --olive-400: oklch(75.43% 0.184 126.64);
  --olive-500: oklch(68.16% 0.184 126.64);
  --olive-600: oklch(60.45% 0.181 126.64);
  --olive-700: oklch(52.34% 0.157 126.64);
  --olive-800: oklch(43.88% 0.132 126.64);
  --olive-900: oklch(35.09% 0.105 126.64);
  --olive-950: oklch(26% 0.078 126.64);
  
  /* ========================================
   * グレー
   * ======================================== */
  --gray-50: oklch(97% 0 none);
  --gray-100: oklch(93.44% 0 none);
  --gray-200: oklch(88.24% 0 none);
  --gray-300: oklch(82.16% 0 none);
  --gray-400: oklch(75.43% 0 none);
  --gray-500: oklch(68.16% 0 none);
  --gray-600: oklch(60.45% 0 none);
  --gray-700: oklch(52.34% 0 none);
  --gray-800: oklch(43.88% 0 none);
  --gray-900: oklch(35.09% 0 none);
  --gray-950: oklch(26% 0 none);

  /* ========================================
   * ブルー
   * ======================================== */
  --blue-50: oklch(97% 0.016 262.29);
  --blue-100: oklch(93.44% 0.034 262.29);
  --blue-200: oklch(88.24% 0.063 262.29);
  --blue-300: oklch(82.16% 0.097 262.29);
  --blue-400: oklch(75.43% 0.137 262.29);
  --blue-500: oklch(68.16% 0.168 262.29);
  --blue-600: oklch(60.45% 0.168 262.29);
  --blue-700: oklch(52.34% 0.168 262.29);
  --blue-800: oklch(43.88% 0.168 262.29);
  --blue-900: oklch(35.09% 0.168 262.29);
  --blue-950: oklch(26% 0.152 262.29);

  /* ========================================
   * パープル
   * ======================================== */
  --purple-50: oklch(97% 0.016 287.24);
  --purple-100: oklch(93.44% 0.036 287.24);
  --purple-200: oklch(88.24% 0.067 287.24);
  --purple-300: oklch(82.16% 0.103 287.24);
  --purple-400: oklch(75.43% 0.122 287.24);
  --purple-500: oklch(68.16% 0.122 287.24);
  --purple-600: oklch(60.45% 0.122 287.24);
  --purple-700: oklch(52.34% 0.122 287.24);
  --purple-800: oklch(43.88% 0.122 287.24);
  --purple-900: oklch(35.09% 0.122 287.24);
  --purple-950: oklch(26% 0.122 287.24);

  /* ========================================
   * レッド
   * ======================================== */
  --red-50: oklch(97% 0.019 26.85);
  --red-100: oklch(93.44% 0.043 26.85);
  --red-200: oklch(88.24% 0.081 26.85);
  --red-300: oklch(82.16% 0.129 26.85);
  --red-400: oklch(75.43% 0.189 26.85);
  --red-500: oklch(68.16% 0.207 26.85);
  --red-600: oklch(60.45% 0.207 26.85);
  --red-700: oklch(52.34% 0.207 26.85);
  --red-800: oklch(43.88% 0.201 26.85);
  --red-900: oklch(35.09% 0.161 26.85);
  --red-950: oklch(26% 0.119 26.85);
}
