:root {
  /* ========================================
   * メインカラー
   * ======================================== */
  --olive-base: oklch(78.49% 0.184 126.64);
  --olive-50: oklch(97% 0.079 126.64);
  --olive-100: oklch(93.44% 0.184 126.64);
  --olive-200: oklch(88.24% 0.184 126.64);
  --olive-300: oklch(82.16% 0.184 126.64);
  --olive-400: oklch(75.43% 0.184 126.64);
  --olive-500: oklch(68.16% 0.184 126.64);
  --olive-600: oklch(60.45% 0.181 126.64);
  --olive-700: oklch(52.34% 0.157 126.64);
  --olive-800: oklch(43.88% 0.132 126.64);
  --olive-900: oklch(35.09% 0.105 126.64);
  --olive-950: oklch(26% 0.078 126.64);
  
  /* ========================================
   * グレースケール
   * ======================================== */
  --gray-50: oklch(97% 0.01 131.36);
  --gray-100: oklch(93.44% 0.01 131.36);
  --gray-200: oklch(88.24% 0.01 131.36);
  --gray-300: oklch(82.16% 0.01 131.36);
  --gray-400: oklch(75.43% 0.01 131.36);
  --gray-500: oklch(68.16% 0.01 131.36);
  --gray-600: oklch(60.45% 0.01 131.36);
  --gray-700: oklch(52.34% 0.01 131.36);
  --gray-800: oklch(43.88% 0.01 131.36);
  --gray-900: oklch(35.09% 0.01 131.36);
  --gray-950: oklch(26% 0.01 131.36);
  --white: oklch(100% 0 none);
  --black: oklch(0% 0 none);

  /* ========================================
   * エラー
   * ======================================== */
  --error-light: oklch(68.16% 0.17 40.17);
  --error-dark: oklch(75.43% 0.17 40.17);
}
