:root {
  --screen-width: sm;

  @media (width >= calc(768 / 16 * 1rem)) {
    --screen-width: md;
  }

  @media (width >= calc(1024 / 16 * 1rem)) {
    --screen-width: lg
  }

  --stack-foreground: 1;
  --stack-background: -1;
}
